@use 'variables';

.stars {
  display: flex;
}

.stars__star {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/star.svg');
}

.stars--1 .stars__star:nth-child(-n + 1) {
  width: 16px;
  background-image: url('../images/star-active.svg');
}

.stars--2 .stars__star:nth-child(-n + 2) {
  width: 16px;
  background-image: url('../images/star-active.svg');
}

.stars--3 .stars__star:nth-child(-n + 3) {
  width: 16px;
  background-image: url('../images/star-active.svg');
}

.stars--4 .stars__star:nth-child(-n + 4) {
  width: 16px;
  background-image: url('../images/star-active.svg');
}

.stars--5 .stars__star:nth-child(-n + 5) {
  width: 16px;
  background-image: url('../images/star-active.svg');
}

.star {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.tt {
  margin: 0 0 0 17px;
  font-size: 10px;
  line-height: 14px;
  text-align: right;
  color: #060b35;
}
