@use 'variables';
@use 'stars';
@use 'card';

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url('../Roboto/static/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url('../Roboto/static/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url('../Roboto/static/Roboto-Bold.ttf') format('truetype');
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
